* {
margin:  0px;
padding: 0px;
box-sizing: border-box ;
}
#filme{
 width: 100%;            /*100 da largura da página */
 display: flex;          /* alinhamento das divs  */
 justify-content: center;/*centralização das divs  child */
 margin-left:  auto;
 margin-right:  auto;
 /*envolve todo o conteúdo no campo de visão  do usuário, retirando a barra de rolange da horizontal, 
 e quebrando o conteúdo*/
 flex-wrap: wrap;   
 padding-top: 120px;     


}

#filme div {

    width: 25%;    /*largura de cada div child */
    margin: 20px; /* espaçamento externo de uma div para a outra */
    box-shadow: 0px 1.5px 5px rgba(203, 13, 13, 0.174);  /*sombra da caixa: coordenada X, coordenada Y, esfumação, cor */
    border-bottom-left-radius: 5px; /*arredondamento da borda inferior á esquerda*/
    border-bottom-right-radius: 5px; /* arredonadmento da borda inferior á direita */
    padding: 10px;
    margin-bottom: 150px;

}

#filme  div img {
    width: 100%;  /*largura da imagem  em sua div */
    border-bottom-left-radius: 10px;/*arredondamento da borda superior esquerda */
    border-bottom-left-radius:10px;/* arredondamento da borda superior direita  */
    box-shadow: 0px 2px 0.8px rgba(196, 0, 59, 0.123);
    margin-top: -120px; /*eu adicionei aqui!! */

}

#filme div:hover{
transition: ease 2s;
transform: scale(1.1); 
cursor: pointer; 
box-shadow: 0px 0px 0px 100vw rgba(203, 13, 13, 0.174);
border-radius: 5px; 

}